@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "fonts";
  src: url("../app/fonts/RifficFree-Bold.ttf");
}

* {
  font-family: "fonts";

}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html{
  scroll-behavior: smooth;
  
}